@font-face {
    font-family: PPOBjectSans;
    src: url("./fonts/PPObjectSans-Regular.otf") format("opentype");
}

@font-face {
    font-family: PPOBjectSans;
    font-weight: bold;
    src: url("./fonts/PPObjectSans-Heavy.otf") format("opentype");
}

* {
    font-family: PPOBjectSans, serif;
    color: white;
}
.App {
    display: inline-block;
    z-index: -3;
    background: #00D1FF;
    max-width: 100%;
}

.mainLogoContainer {
    padding: 4vw 0 0 0;
    display: flex;
    justify-content: center;

}

.mainHeader {
    width: 83%;
    color: white;
    font-size: 6vw;
    font-weight: 400;
    z-index: 1

}

.mainDescription {
    width: 80%;
    font-size: 2vw;
    font-weight: 400;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
}

.gradient {
    z-index: -2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-image:
    linear-gradient(180deg, #41BDE9 0%, #BFE0F8 100%);

}

.philosophyPhoto {
 position: absolute;
 top: -40px;
 left: 33% ;
 z-index: 1;
}

.ellipse {
    z-index: 0;
    top: 28vw;
    position: absolute;
    width: 100vw;
    height: 170vw;
    border-radius: 50%;
    background-image: conic-gradient(from 180deg at 50% 50%,
    #79A7FF 0deg,
    #68D0FD 116.25deg,
    #46D3FF 211.88deg,
    #6B7AFF 286.87deg,
    #FA00FF 360deg);
    filter: blur(60px); /* Adjust the blur radius as needed */
    opacity: 85%;
}

.header {
    height: 3px;
    padding: 2vw 9vw 2vw 9vw;
    justify-content: space-between;
    background: #00e6ff;
}

.rectangle {
    z-index: 5;
    position: absolute;
    background-color: #CC00FF;
    margin-top: 4vw;
    height: 1%; /* Используйте 100%, чтобы прямоугольник был по высоте контейнера */
    width: 8%; /* Ширина прямоугольника */;
    left: 0; /* Смещение прямоугольника влево на 5% относительно левого края родительского элемента */
}
.photo {
    height: 50vw;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1vw;
    position: relative; /* Ensure position relative for absolute positioning */
}

.photoGradient {
    z-index: 2;
    position: absolute; /* Position the gradient absolutely over the photo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(1, 5, 30, 0) 67.78%, #01051E 100%);
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4vw;
}

.discount {
    display: flex;
    text-align: center;
    border-radius: 4vw;
    background-image: linear-gradient(95.14deg, #CC00FF 13.6%, #00D1FF 58.9%, #00A3FF 93.49%);

}

.projectDiscount {
    display: flex;
    text-align: center;
    border-radius: 48px;
    background-image: linear-gradient(95.14deg, #CC00FF 13.6%, #00D1FF 58.9%, #00A3FF 93.49%);

}

.discountText {
    font-size: 1vw;
    padding: 0 1vw 0 1vw;

}

.projectDiscountText {
    font-size: 1vw;
    padding: 1vw 2vw 1vw 2vw;
}

.photoHeader {
    font-size: 4vw;
    margin: 0;
}
.photoDescription {
    font-size: 2vw;
    font-weight: lighter;
    margin: 0 0 4vw 0 ;
}
.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height:100%;
    padding-left: 5vw;
    z-index: 3;
}

.carouselButtons {
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: space-evenly;
    margin-top: 2vw;
    z-index: 3;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 48px;
}

.carouselButton {
    margin: 1vw 0 1vw 1vw;
    z-index: 4;
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    background-color: white;
    opacity: 50%;
}

.activeButton {
    margin: 1vw 0 0 1vw;
    z-index: 4;
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    background-color: white;
    opacity: 100%;
}

.navigationContainer {
    width: 83%;
    display: flex;
    justify-content: space-evenly;
    z-index: 5;
    margin-top: 4vw;
    border-radius: 8vw;
    border: 1px solid white;
}

.navigationButton {
    margin: 4vh 0 4vh 0;
    border-radius: 2.5vw;
    background: rgba(39, 43, 64, 0.5);
    font-size: 2.3vw;
    border: none
}

.leftArrow {
    padding-left: 2vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.rightArrow {
    padding-right: 2vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.catalogContainer {
    margin-bottom: 4vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 8vw;
    z-index: 3;
}

.projectHeaderContainer {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 4vw;
    display: flex;
    align-items: center
}

.projectHeader {
    color: rgba(39, 43, 64, 1);
    padding-inline: 2vw;
    font-size: 2vw;
}

.projectSeriesContainer {
    background: rgba(39, 43, 64, 0.5);
    border-radius: 4vw;
    display: flex;
    text-align: center;
}

.projectSeries {
    font-size: 1vw;
    padding: 1vw 2vw 1vw 2vw;
}

.amountContainer {
    background: rgba(39, 43, 64, 0.5);
    border-radius: 8vw;
    margin: 2vw 4vw 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.amountNumber {
    padding: 0 2vw 0 2vw;
    font-size: 2vw;
}

.amountMillions {
    font-size: 1.3vw;
    padding: 0 0 1vw 0;
}
.amountFrom {
    font-size: 1.3vw;
    padding-top: 0.5vw;
}
.catalogCarousel {
    width: 100%;
    display: flex;
}

.logoCatalog {
    width: 45vw;
}

.logoCatalogDescription {
    font-size: 2vw;
    padding-top: 3vh;
}

.catalogPhoto {
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
    z-index: 1;
    height: 55vw;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8vw 8vw 0 0;
    position: relative; /* Ensure position relative for absolute positioning */
    width: 100%;
}

.catalogContentContainer {
    padding: 4vw 0 0 4vw;
    display: inline-block;
    justify-content: space-between;
}

.photoFooter {
    display: flex;
    justify-content: space-evenly;
    z-index: 6;
    height: 4vw;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
}

.footerText {
    color: rgba(39, 43, 64, 1);
    border-right: 1px solid white;
    font-size: 1vw;
    padding-right: 1vw;
}

.lastFooterText {
    color: rgba(39, 43, 64, 1);
    font-size: 1vw;
    padding-right: 0.5vw;
}
.roundPhoto {
    z-index: 1;
    width: 10vw;
    height: 10vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    position: relative;
}

.projectButton {
    margin-top: 4vw;
    margin-bottom: 9vw;
    z-index: 3;
    border-radius: 1000px;
    display: flex;
    text-align: center;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #D5DEED 100%),
    linear-gradient(0deg, #E3E8F1, #E3E8F1);
    border: 0.5vw solid rgba(227, 232, 241, 1);
}

.projectButtonText {
    padding: 0 4vw 0 4vw;
    color: rgba(39, 43, 64, 1);
    font-size: 4vw;
}

.submitButton {
    z-index: 3;
    border-radius: 1000px;
    display: flex;
    text-align: center;
    margin-left: -3vw;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #D5DEED 100%),
    linear-gradient(0deg, #E3E8F1, #E3E8F1);
    border: 0.3vw solid rgba(227, 232, 241, 1);

}

.submitButtonText {
    padding: 0.2vw 2vw 0.2vw 2vw;
    color: rgba(39, 43, 64, 1);
    font-size: 2vw;
}
.swiper {
    border-radius: 8vw;
    overflow:visible;
}

.modalSocial {
    color: rgba(39, 43, 64, 1);
    font-size: 1.5vw;
    padding-bottom: 1.5vw;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
.modalEllipse {
    z-index: -1000;
    position: absolute; /* Position the gradient absolutely over the photo */
    top: 55%;
    left: 10%;
    width: 45vw;
    height: 45vw;
    border-radius: 48px;
    background-image: conic-gradient(
            from 180deg at 50% 50%,
            #8CE3FF 0deg,
            #00B3FF 116.25deg,
            #7EE0FF 211.88deg,
            #FFFFFF 286.87deg,
            #49B4E1 360deg
    );
    filter: blur(40px); /* Adjust the blur radius as needed */
}

.modalCloseButton {
    z-index: 10002;
    position: absolute;
    top: 4%;
    left: 94%;
    width: 2vw;
}

.modalLogo {
    text-align: center;
}

.modalLogoText {
    color: rgba(39, 43, 64, 1);
    font-size: 3vw;
    padding-bottom: 2vw;
    text-align: center;
}

.modalInputs {
    display: flex;
    flex-direction: column;
    color: rgba(39, 43, 64, 1);
}

.modalDescription {
    font-size: 0.8vw;
    color: rgba(98, 105, 140, 1);
    border-bottom: 0.03vw solid rgba(255, 255, 255, 1);
    padding-bottom: 1vw;

}

.modalFooter {
    padding-top: 0.5vw;

}
input {
    font-size: 2vw;
    width: 100%;
    z-index:20000;
    border-radius: 1vw;
    background-color: white;
    border: 0.3vw solid rgba(227, 232, 241, 1);
}

input::placeholder {

    padding-left: 2vw;
}

.inputGroup {
    padding-bottom: 1.5vw;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

label {
    font-size: 1.5vw;
    font-weight: lighter;
    width: 15vw; /* Установите фиксированную ширину для всех меток */
    text-align: left;
    color: rgba(39, 43, 64, 1);
}

.modalMain {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    width: 60vw;
    height: 36vw;
    border-radius: 2vw;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border: none;
    padding: 2vw;
}
@media (min-width: 770px) and (max-width: 1250px) {
    .philosophyPhoto {
        top: -30px;
        width: 60px;

    }

    /*.navigationButton {*/
    /*    font-size: 19px;*/
    /*}*/

    /*.footerText {*/
    /*    font-size: 12px;*/
    /*}*/

    /*.lastFooterText {*/
    /*    font-size: 12px;*/
    /*}*/

}
@media (min-width: 367px) and (max-width: 500px) {
    /*.mainHeader {*/
    /*    font-size: 48px;*/
    /*}*/
    /*.mainDescription {*/
    /*    font-size: 16px;*/
    /*}*/
    /*.discountText {*/
    /*    font-size: 14px;*/
    /*}*/
    /*.photoHeader {*/
    /*    font-size: 36px;*/
    /*}*/
    /*.photoDescription {*/
    /*    font-size: 16px;*/
    /*}*/
    .navigationContainer {
        flex-wrap: wrap;
        border-radius: 24px;
        width: 90vw;
    }

    .navigationButton {
        border-radius: 12px;
        /*font-size: 16px;*/
    }

    .philosophyPhoto {
        width: 50px;
        top: -25px;
    }

    .logoCatalog {
        width: 60vw;
    }

    .logoCatalogDescription {
        /*font-size: 11px;*/
    }

    .ellipse {
        height: 230vw;
    }

    /*.projectHeader {*/
    /*    font-size: 16px;*/
    /*}*/
    /*.projectSeries {*/
    /*    font-size: 10px;*/
    /*}*/
    /*.projectDiscountText {*/
    /*    font-size: 10px;*/
    /*}*/
    /*.amountFrom {*/
    /*    font-size: 14px;*/
    /*}*/
    /*.amountNumber {*/
    /*    font-size: 16px;*/
    /*}*/
    /*.amountMillions {*/
    /*    font-size: 14px;*/
    /*}*/
    /*.footerText {*/
    /*    font-size: 8px;*/
    /*}*/
    /*.lastFooterText {*/
    /*    font-size: 8px;*/
    /*}*/
    /*.projectButtonText {*/
    /*    font-size: 36px;*/
    /*}*/
}

@media (min-width: 0px) and (max-width: 500px) {

    .photoHeader {
        font-size: 6vw;
    }

    .projectHeader {
        font-size: 4vw;
    }
    .photoDescription {
        font-size: 4vw;
    }

    .projectDiscountText {
        font-size: 2vw;
    }

    .mainHeader {
        padding: 4vw 0 0 4vw;
        font-size: 6vw;
    }

    .amountFrom {
        font-size: 3vw;
    }

    .amountNumber {
        font-size: 4vw;
    }

    .amountMillions {
        font-size: 3vw;
    }
    .mainDescription {
        font-size: 3vw;
    }
    .header {
        padding: 5vw 0 5vw 0;
    }

    .navigationContainer {
        flex-wrap: wrap;
    }

    .navigationButton {
        margin: 3vw 0vw 3vw 0vw;
        font-size: 6vw;
    }
    .philosophyPhoto {
        top: -26px;
        height: 60px;
    }

    .rectangle {
        height: 1vw;
    }

    .discount {
        border-radius: 2vw;
    }
    .discountText {
        font-size: 3vw;
    }

    .projectSeries {
        font-size: 2vw;
    }
    .logoCatalog {
        width: 70vw;
    }

    .footerText {
        font-size: 2vw;
    }

    .lastFooterText {
        font-size: 2vw;
    }

    .ellipse {
        top: 30vw;
    }

    .roundPhoto {
        width: 20vw;
        height: 20vw;
    }
}