:root {
    --color-white: white;
    --color-blue: #00D1FF;
    --color-dark-blue: #41BDE9;
    --color-light-blue: #BFE0F8;
    --color-purple: #CC00FF;
    --color-black: #000000;
    --box-border-radius: 4vw;

    --screen-width-tablet: 768px;
    --screen-width-mobile: 366px;

    --font-size-desktop-h1: 72px;
    --font-size-desktop-h2: 48px;
    --font-size-desktop-h3: 36px;
    --font-size-desktop-h4: 24px;
    --font-size-desktop-h5: 18px;
    --font-size-desktop-h6: 14px;

    --font-size-desktop-h1-line-height: 80px;
    --font-size-desktop-h2-line-height: 56px;
    --font-size-desktop-h3-line-height: 42px;
    --font-size-desktop-h4-line-height: 30px;
    --font-size-desktop-h5-line-height: 24px;
    --font-size-desktop-h6-line-height: 18px;

    --font-size-desktop-h3-shortcuts: 36px;
    --font-size-desktop-h3-shortcuts-line-height: 42px;

    --font-size-desktop-p:  24px;
    --font-size-desktop-p-line-height: 36px;


    --font-size-tablet-h1: 42px;
    --font-size-tablet-h2: 36px;
    --font-size-tablet-h3: 24px;
    --font-size-tablet-h4: 16px;
    --font-size-tablet-h5: 14px;
    --font-size-tablet-h6: 10px;

    --font-size-tablet-h1-line-height:  48px;
    --font-size-tablet-h2-line-height:  40px;
    --font-size-tablet-h3-line-height:  30px;
    --font-size-tablet-h4-line-height:  20px;
    --font-size-tablet-h5-line-height:  18px;
    --font-size-tablet-h6-line-height:  14px;

    --font-size-tablet-h3-shortcuts: 16px;
    --font-size-tablet-h3-shortcuts-line-height: 20px;

    --font-size-tablet-p:  16px;
    --font-size-tablet-p-line-height: 24px;


    --font-size-mobile-h1: 26px;
    --font-size-mobile-h2: 22px;
    --font-size-mobile-h3: 18px;
    --font-size-mobile-h4: 14px;
    --font-size-mobile-h5: 12px;
    --font-size-mobile-h6: 8px;

    --font-size-mobile-h1-line-height: 28px;
    --font-size-mobile-h2-line-height: 24px;
    --font-size-mobile-h3-line-height: 20px;
    --font-size-mobile-h4-line-height: 16px;
    --font-size-mobile-h5-line-height: 14px;
    --font-size-mobile-h6-line-height: 12px;

    --font-size-mobile-h3-shortcuts: 14px;
    --font-size-mobile-h3-shortcuts-line-height: 16px;

    --font-size-mobile-p:  14px;
    --font-size-mobile-p-line-height: 20px;

}

@font-face {
    font-family: PPOBjectSans;
    src: url("./fonts/PPObjectSans-Regular.otf") format("opentype");
}

@font-face {
    font-family: PPOBjectSans;
    font-weight: bold;
    src: url("./fonts/PPObjectSans-Heavy.otf") format("opentype");
}

* {
    font-family: PPOBjectSans, serif;
    color: white;
}
.App {
    display: inline-block;
    z-index: -3;
    background: var(--color-blue);
    max-width: 100%;
}

.shortcut {
    z-index:1;
    display: flex;
    flex-wrap: wrap;
    width: 83%; /* wrapper-width */
    justify-content: space-evenly;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.12) inset;
    border-radius: 0 0 2vw 2vw;
}

.shortcutItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw 0 2vw 0;
}

.shortcutItem:hover {
    scale: 0.98;
}

.mainLogoContainer {
    position:relative;
    padding: 4vw 0 0 0;
    display: flex;
    justify-content: center;

}

.mainHeader {
    width: 78%;
    color: white;
    font-weight: 400;
    z-index: 1

}

.mainDescription {
    width: 80%;
    font-weight: 400;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
}

.gradient {
    z-index: -2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-image:
    linear-gradient(180deg, #41BDE9 0%, #BFE0F8 100%);

}

.philosophyPhoto {
 position: absolute;
 top: -28px;
 left: 33% ;
 z-index: 1;
}

.photoButtonPhoto {
    position: absolute;
    top: -28px;
    left: 33% ;
    z-index: 1;
}

.ellipse {
    z-index: 0;
    top: 28vw;
    position: absolute;
    width: 100vw;
    height: 170vw;
    border-radius: 50%;
    background-image: conic-gradient(from 180deg at 50% 50%,
    #79A7FF 0deg,
    #68D0FD 116.25deg,
    #46D3FF 211.88deg,
    #6B7AFF 286.87deg,
    #FA00FF 360deg);
    filter: blur(60px); /* Adjust the blur radius as needed */
    opacity: 85%;
}

.workEllipse {
    z-index: 0;
    position: absolute;
    top: 10vw;
    width: 100vw;
    height: 170vw;
    border-radius: 50%;
    background: rgba(126, 232, 255, 1);
    filter: blur(40px); /* Adjust the blur radius as needed */

}
.header {
    height: 3px;
    padding: 2vw 9vw 2vw 9vw;
    justify-content: space-between;
    background: rgb(0, 225, 255);

}

.rectangle {
    z-index: 5;
    position: absolute;
    background-color: #CC00FF;
    margin-top: 4vw;
    height: 1%; /* Используйте 100%, чтобы прямоугольник был по высоте контейнера */
    width: 8%; /* Ширина прямоугольника */;
    left: 0; /* Смещение прямоугольника влево на 5% относительно левого края родительского элемента */
}
.photo {
    height: 50vw;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4vw;
    position: relative; /* Ensure position relative for absolute positioning */
}

.photoButton {

}

.photoGradient {
    z-index: 2;
    position: absolute; /* Position the gradient absolutely over the photo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(1, 5, 30, 0) 67.78%, #01051E 100%);
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4vw;
}

.photoButtonGradient {
    z-index: 2;
    position: absolute; /* Position the gradient absolutely over the photo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4vw;
    background: linear-gradient(180deg, rgba(89, 184, 249, 0) 50.47%, rgba(0, 141, 255, 0.5) 94.7%);

}
.photoContainer {
    height: 420px;
}

.photoButtonContainer {
    height: 420px;
}

.photoRow {
    width: 48%;
}


.labelContainer {
    display: flex;
    text-align: center;
    border-radius: 4vw;
}

.gradientBackground {
    background-image: linear-gradient(95.14deg, #CC00FF 13.6%, #00D1FF 58.9%, #00A3FF 93.49%);
}

.blackBackground {
    background: rgba(0, 0, 0, 0.5);
}

.projectDiscount {
    display: flex;
    text-align: center;
    border-radius: 48px;
    background-image: linear-gradient(95.14deg, #CC00FF 13.6%, #00D1FF 58.9%, #00A3FF 93.49%);

}

.discountText {
    padding: 0 1vw 0 1vw;

}

.projectDiscountText {
    padding: 0.5vw 2vw 0.5vw 2vw;
}

.photoHeader {
    margin: 0 0 1vw 0;
}
.photoDescription {
    font-weight: lighter;
    margin: 0 0 4vw 0 ;
}
.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height:100%;
    padding-left: 5vw;
    z-index: 3;
}

.projectButtonContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    gap: 0;
    z-index: 3;
}

.carouselButtons {
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: space-evenly;
    margin-top: 2vw;
    z-index: 3;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 48px;
}

.carouselButton {
    margin: 1vw 0 1vw 1vw;
    z-index: 4;
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    background-color: white;
    opacity: 50%;
}

.activeButton {
    margin: 1vw 0 0 1vw;
    z-index: 4;
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    background-color: white;
    opacity: 100%;
}

.navigationContainer {
    width: 83%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    z-index: 5;
    margin-top: 48px;
    padding: 24px;
    border-radius: 2vw;
    border: 1px solid white;
}

.navigationButton {
    display:flex;
    margin: 24px 0 24px 0;
    border-radius: 1vw;
    background: rgba(39, 43, 64, 0.5);
    border: none
}
.navigationText {
    padding: 24px;
}
.leftArrow {
    padding-left: 2vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.rightArrow {
    padding-right: 2vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.catalogContainer {
    margin-bottom: 4vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 8vw;
    z-index: 3;
}

.projectHeaderContainer {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 4vw;
    display: flex;
    align-items: center
}

.projectHeader {
    color: rgba(39, 43, 64, 1);
    padding-inline: 2vw;
}

.projectSeriesContainer {
    background: rgba(39, 43, 64, 0.5);
    border-radius: 4vw;
    display: flex;
    text-align: center;
}

.projectSeries {
    padding: 0.5vw 2vw 0.5vw 2vw;
}

.amountContainer {
    background: rgba(39, 43, 64, 0.5);
    border-radius: 8vw;
    margin: 2vw 4vw 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.amountNumber {
    padding: 0 2vw 0 2vw;
}

.amountMillions {
    padding: 0 0 1vw 0;
}
.amountFrom {
    padding-top: 0.5vw;
}
.catalogCarousel {
    width: 100%;
    display: flex;
}

.logoCatalog {
    width: 45vw;
}

.logoCatalogDescription {
    font-size: 2vw;
    padding-top: 3vw;
}

.catalogPhoto {
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
    z-index: 1;
    height: 55vw;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4vw 4vw 0 0;
    position: relative; /* Ensure position relative for absolute positioning */
    width: 100%;
}

.catalogContentContainer {
    padding: 4vw 0 0 4vw;
    display: inline-block;
    justify-content: space-between;
}

.photoFooter {
    display: flex;
    justify-content: space-evenly;
    z-index: 6;
    padding: 0 4vw 0 4vw;
    border-radius: 0 0 2vw 2vw;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
}

.footerText {
    color: rgba(39, 43, 64, 1);
    border-right: 1px solid white;
    padding-right: 4vw;
}

.lastFooterText {
    color: rgba(39, 43, 64, 1);
    padding-right: 0.5vw;
}
.roundPhoto {
    z-index: 1;
    width: 10vw;
    height: 10vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    position: relative;
}

.projectButton {
    margin-top: 4vw;
    margin-bottom: 9vw;
    z-index: 3;
    border-radius: 1000px;
    display: flex;
    text-align: center;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #D5DEED 100%),
    linear-gradient(0deg, #E3E8F1, #E3E8F1);
    border: 0.5vw solid rgba(227, 232, 241, 1);
}

.projectButtonText {
    padding: 1vw 4vw 1vw 4vw;
    color: rgba(39, 43, 64, 1);
}

.submitButton {
    z-index: 3;
    border-radius: 1000px;
    display: flex;
    text-align: center;
    margin-left: -3vw;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #D5DEED 100%),
    linear-gradient(0deg, #E3E8F1, #E3E8F1);
    border: 0.3vw solid rgba(227, 232, 241, 1);

}

.submitButtonText {
    padding: 0.2vw 2vw 0.2vw 2vw;
    color: rgba(39, 43, 64, 1);
    font-size: 2vw;
}
.swiper {
    border-radius: 4vw;
    overflow:visible;
}

.modalSocial {
    color: rgba(39, 43, 64, 1);
    font-size: 1.5vw;
    padding-bottom: 1.5vw;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
.modalEllipse {
    z-index: -1000;
    position: absolute; /* Position the gradient absolutely over the photo */
    top: 55%;
    left: 10%;
    width: 45vw;
    height: 45vw;
    border-radius: 48px;
    background-image: conic-gradient(
            from 180deg at 50% 50%,
            #8CE3FF 0deg,
            #00B3FF 116.25deg,
            #7EE0FF 211.88deg,
            #FFFFFF 286.87deg,
            #49B4E1 360deg
    );
    filter: blur(40px); /* Adjust the blur radius as needed */
}

.modalCloseButton {
    z-index: 10002;
    position: absolute;
    top: 4%;
    left: 94%;
    width: 2vw;
}

.modalLogo {
    text-align: center;
}

.modalLogoText {
    color: rgba(39, 43, 64, 1);
    font-size: 3vw;
    padding-bottom: 2vw;
    text-align: center;
}

.modalInputs {
    display: flex;
    flex-direction: column;
    color: rgba(39, 43, 64, 1);
}

.modalDescription {
    font-size: 0.8vw;
    color: rgba(98, 105, 140, 1);
    border-bottom: 0.03vw solid rgba(255, 255, 255, 1);
    padding-bottom: 1vw;

}

.modalFooter {
    padding-top: 0.5vw;

}
input {
    font-size: 2vw;
    width: 100%;
    z-index:20000;
    border-radius: 1vw;
    background-color: white;
    border: 0.3vw solid rgba(227, 232, 241, 1);
}

input::placeholder {

    padding-left: 2vw;
}

.inputGroup {
    padding-bottom: 1.5vw;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

label {
    font-size: 1.5vw;
    font-weight: lighter;
    width: 15vw; /* Установите фиксированную ширину для всех меток */
    text-align: left;
    color: rgba(39, 43, 64, 1);
}

.modalMain {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    width: 60vw;
    height: 36vw;
    border-radius: 2vw;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border: none;
    padding: 2vw;
}

.works {
    z-index: 0;
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(212, 242, 255, 1);

}

.pageContainer {
    z-index: 0;
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (min-width: 768px) {
    h1 {
        font-size: var(--font-size-desktop-h1);
        line-height: var(--font-size-desktop-h1-line-height);
    }

    h2 {
        font-size: var(--font-size-desktop-h2);
        line-height: var(--font-size-desktop-h2-line-height);
    }

    h3 {
        font-size: var(--font-size-desktop-h3);
        line-height: var(--font-size-desktop-h3-line-height);
    }

    h4 {
        font-size: var(--font-size-desktop-h4);
        line-height: var(--font-size-desktop-h4-line-height);
    }

    h5 {
        font-size: var(--font-size-desktop-h5);
        line-height: var(--font-size-desktop-h5-line-height);
    }

    h6 {
        font-size: var(--font-size-desktop-h6);
        line-height: var(--font-size-desktop-h6-line-height);
    }

    p {
        font-size: var(--font-size-desktop-p);
        line-height: var(--font-size-desktop-p-line-height);
    }

    .h3Shortcut {
        font-size: var(--font-size-desktop-h3-shortcuts);
        line-height: var(--font-size-desktop-h3-shortcuts-line-height);
    }

    .philosophyPhoto {
        top: -30px;
        height: 120px;
    }
}

@media (max-width: 768px) and (min-width: 366px) {
    h1 {
        font-size: var(--font-size-tablet-h1);
        line-height: var(--font-size-tablet-h1-line-height);
    }

    h2 {
        font-size: var(--font-size-tablet-h2);
        line-height: var(--font-size-tablet-h2-line-height);
    }

    h3 {
        font-size: var(--font-size-tablet-h3);
        line-height: var(--font-size-tablet-h3-line-height);
    }

    h4 {
        font-size: var(--font-size-tablet-h4);
        line-height: var(--font-size-tablet-h4-line-height);
    }

    h5 {
        font-size: var(--font-size-tablet-h5);
        line-height: var(--font-size-tablet-h5-line-height);
    }

    h6 {
        font-size: var(--font-size-tablet-h6);
        line-height: var(--font-size-tablet-h6-line-height);
    }

    p {
        font-size: var(--font-size-tablet-p);
        line-height: var(--font-size-tablet-p-line-height);
    }

    .h3Shortcut {
        font-size: var(--font-size-tablet-h3-shortcuts);
        line-height: var(--font-size-tablet-h3-shortcuts-line-height);
    }

    .navigationButton {
        margin: 12px;
        border-radius: 2vw;
    }

    .philosophyPhoto {
        top: -14px;
        height: 70px;
    }

    .navigationText {
        padding: 18px;
    }

    .navigationContainer {
        padding: 24px;

        flex-wrap: wrap;
    }

    .photoContainer {
        height: 280px;
    }

    .photoButtonContainer {
        height: 280px;
    }
}
@media (max-width: 366px) {
    h1 {
        font-size: var(--font-size-mobile-h1);
        line-height: var(--font-size-mobile-h1-line-height);
    }

    h2 {
        font-size: var(--font-size-mobile-h2);
        line-height: var(--font-size-mobile-h2-line-height);
    }

    h3 {
        font-size: var(--font-size-mobile-h3);
        line-height: var(--font-size-mobile-h3-line-height);
    }

    h4 {
        font-size: var(--font-size-mobile-h4);
        line-height: var(--font-size-mobile-h4-line-height);
    }

    h5 {
        font-size: var(--font-size-mobile-h5);
        line-height: var(--font-size-mobile-h5-line-height);
    }

    h6 {
        font-size: var(--font-size-mobile-h6);
        line-height: var(--font-size-mobile-h6-line-height);
    }

    p {
        font-size: var(--font-size-mobile-p);
        line-height: var(--font-size-mobile-p-line-height);
    }

    .h3Shortcut {
        font-size: var(--font-size-mobile-h3-shortcuts);
        line-height: var(--font-size-mobile-h3-shortcuts-line-height);
    }

    .navigationText {
        padding: 12px 27px 12px 27px;
    }

    .navigationButton {
        margin: 6px 6px 6px 6px;
        border-radius: 4vw;
    }

    .projectHeader {
        font-size: 4vw;
    }

    .projectDiscountText {
        font-size: 2vw;
    }

    .mainHeader {
        padding: 4vw 0 0 4vw;
        font-size: 6vw;
    }

    .mainDescription {
        font-size: 3vw;
    }
    .header {
        padding: 5vw 0 5vw 0;
    }

    .navigationContainer {
        padding: 12px;
        border-radius: 8vw;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .philosophyPhoto {
        top: -20px;
        height: 60px;
    }

    .rectangle {
        height: 1vw;
    }

    .discount {
        border-radius: 2vw;
    }

    .projectSeries {
        font-size: 2vw;
    }
    .logoCatalog {
        width: 80vw;
    }

    .ellipse {
        top: 30vw;
    }

    .roundPhoto {
        width: 20vw;
        height: 20vw;
    }

    .shortcutImage {
        height: 36px
    }

    .shortcutItem {
        justify-content: center;
        margin: 24px 10px 14px 10px;

    }

    .photoContainer {
        width: 100%;
        height: unset;
    }

    .photoButtonContainer {
        width: 100%;
        height: unset;
    }

    .photoRow {
        width: 100%;
    }

    .normalPhoto {
        height: 280px;
    }

    .swiper {
        border-radius: 6vw;
    }

    .catalogPhoto {
        height: 244px;
        border-radius: 6vw 6vw 0 0;
    }

    .buttonPhoto {
        width: 160px;
    }
}