.page {
    display: flex;
    flex-direction: column;
    position:relative;
    height:auto;
    z-index: -3;
    max-width: 100%;
    border: none;
}

.pageWrapper {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    max-width: 100%;
    padding: 48px 0 96px 0;
    background: linear-gradient(180deg, #41BDE9 0%, #BFE0F8 100%);
}

.pageContainer {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    width: 86%;
    max-width: 1248px;
}

.imageGradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 85.37%, rgba(0, 0, 0, 0.50) 100%);
    height: 960px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.darkBackground {
    background: linear-gradient(180deg, #1B0053 0%, #000 100%);
}

.background {
    width: 100%;
    height: 960px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 734px;
}

.mapGradient {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(180deg, rgba(29, 113, 0, 0.60) 0%, rgba(0, 255, 41, 0.60) 100%);
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);

}

.folder {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 24px 24px 0 0 ;
    background: rgba(0, 0, 0, 0.50);

}

.ellipse {
    position: absolute;
    bottom: 0;
    width: 1440px;
    height: 1110px;
    border-radius:  1440px;
    background: conic-gradient(from 180deg at 50% 50%, #79A7FF 0deg, #68D0FD 116.24999642372131deg, #46D3FF 211.87500715255737deg, #6B7AFF 286.875deg, #FA00FF 360deg);
    filter: blur(150px);
}

.catalogContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 36px;
}

.seriesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 36px;
    border-radius: 24px;
    background: #EBF9FF;
    padding: 30px;
    width: calc(100% + 60px); /* 30px padding on each side */

    box-sizing: border-box
}

.flexItem {
    flex: 0 0 calc(50% - 18px); /* 50% width for 2 items per row with gap adjustment */
}

@media (max-width: 768px) and (min-width: 500px) {
    .pageWrapper{
        padding: 36px 0 48px 0;
    }
    .pageContainer {
        gap: 36px;
    }
    .background {
        height: 640px;
    }
    .imageGradient {
        height: 640px;
    }
}

@media (max-width: 560px) {
    .flexItem {
        flex: 0 0 100%; /* Full width for single column layout on smaller screens */
    }
}

@media (max-width: 500px) {
    .pageWrapper{
        padding: 24px 0 36px 0;
    }
    .pageContainer {
        gap: 24px;
    }
    .background {
        height: 320px;
    }
    .imageGradient {
        height: 320px;
    }
}