.page {
    display: flex;
    flex-direction: column;
    position:relative;
    height:auto;
    z-index: -3;
    max-width: 100%;
    border: none;
}

.pageWrapper {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    padding: 48px 0 96px 0;
    background: linear-gradient(0deg, rgba(104, 194, 255, 0.90) 0%, rgba(104, 194, 255, 0.90) 100%);
}

.pageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 86%;
    max-width: 1248px;
}


.ellipse {
    z-index: 0;
    bottom:0;
    position: absolute;
    width: 100%;
    max-width: 1440px;
    height: 2456px;
    border-radius: 50%;
    background: conic-gradient(from 180deg at 50% 50%, #79A7FF 0deg, #68D0FD 116.24999642372131deg, #46D3FF 211.87500715255737deg, #6B7AFF 286.875deg, #FA00FF 360deg);
    filter: blur(150px) saturate(110%);
    opacity: 85%;
}

@media (max-width: 768px) and (min-width: 366px) {
    .pageWrapper{
        padding: 36px 0 48px 0;
    }
    .pageContainer {
        gap: 36px;
    }
}

@media (max-width: 366px) {
    .pageWrapper{
        padding: 24px 0 36px 0;
    }
    .pageContainer {
        gap: 24px;
    }
}